# Python
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# VS Code settings
.vscode/

# Virtual environments
venv/
.env/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/